.room-card {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 16px;
    margin: 8px;
    padding: 8px;
    align-items: center;

    &:hover {
        background-color: inherit;
        opacity: 0.6;
        border-radius: 3%;
        cursor: pointer;
    }

    &__icon {
        padding: 2px;
        border: 1px solid beige;
        border-radius: 30%;
        justify-content: center;
        font-size: 20px;
    }

    &__name {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}

@media (max-width: 768px) {
    .room-card {
        font-size: 12px;

        &__icon {
            font-size: 16px;
        }
    }
}